<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="main.css">
<title>HW10 - Etsy Recreation</title>
</head>

<body>
<h1>Gorrila</h1>

<div class="gorilla-list">
  <div class="item" id="itempic" img src=""></div>
  <div class="item" id="like"></div>
  <div class="item" id="list"></div>
  <div class="item" id="description"></div>
  <div class="item" id="maker"></div>
  <div class="item" id="price"></div>

</div>



<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>

<script type="text/template" data-template-name="gorillaResults">

</script>


<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="main.js"></script>

</body>

</html> -->




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <title>HW10 - Etsy Recreation</title>
</head>

<body>
  <div class = "logo">Etsy</div>
    <label><input id="search" type="text" size="60">Search</label>

    <ul class="results-list"></ul>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>



    <script type="text/template" data-template-name="gorilla-item">
      <div class="container">
        <div class="item">
          <div><img src="<% image %>" alt="thumbnail"></div>
          <div><a href="<% url %>"><p class="ellipsis"><% name %></p></a></div>
          <div class="price"><% price %> <% currency %></div>
          <div class="shop"><% shop %></div>
        </div>
      </div>
    </script>

    <script type="text/javascript" src="data.js"></script>
    <script type="text/javascript" src="main.js"></script>


</body>

</html>
